### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [118]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete
# school_data_complete.dtypes

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [163]:
school_df = school_data_complete.loc[:, ["school_name", "type", "size", "budget", "math_score", "reading_score"]]
math_score_file = school_df.loc[school_df["math_score"] >=70]
math_score_count = math_score_file.count()["size"]
reading_score_file = school_df.loc[school_df["reading_score"] >=70]
reading_score_count = reading_score_file.count()["size"]
school_name_group = school_df.groupby(['school_name'])
filtered_school_name_group = school_name_group.mean()
overall_pass = school_df.loc[(school_df["math_score"] >= 70) & (
        school_df["reading_score"] >= 70), :]

total_school_count = len(school_df["school_name"].unique())
total_studentid_count = school_df["size"].count()
total_budget = filtered_school_name_group['budget'].sum()
average_math_score = school_df["math_score"].mean()
average_reading_score = school_df["reading_score"].mean()

percent_passing_math = (math_score_count/total_studentid_count)*100
percent_passing_reading = (reading_score_count/total_studentid_count)*100
percent_overall_pass = (overall_pass["math_score"].count()/total_studentid_count)*100

district_summary_df = pd.DataFrame({"Total Schools": [total_school_count], "Total Students": [total_studentid_count], "Total Budget": [total_budget], "Average Math Score": [average_math_score], "Average Reading Score": [average_reading_score], "% Passing Math": [percent_passing_math], "% Passing Reading": [percent_passing_reading], "% Over all Passing": [percent_overall_pass]})

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].astype(float).map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].astype(float).map("{:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].astype(float).map("{:,.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].astype(float).map("{:,.2f} %".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].astype(float).map("{:,.2f} %".format)
district_summary_df["% Over all Passing"] = district_summary_df["% Over all Passing"].astype(float).map("{:,.2f} %".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Over all Passing
0,15,39170,"$24,649,428.00",78.99,81.88,74.98 %,85.81 %,65.17 %

In [129]:
school_df = school_data_complete.loc[:, ["school_name", "type", "size", "budget", "math_score", "reading_score"]]

school_math_score = school_df.loc[school_df["math_score"] >=70]
school_math_filter = school_math_score.groupby(["school_name"])
school_percent_math = school_math_filter["math_score"].count()

school_reading_score = school_df.loc[school_df["reading_score"] >=70]
school_reading_filter = school_reading_score.groupby(["school_name"])
school_percent_reading = school_reading_filter["math_score"].count()

school_overall_pass = school_df.loc[(school_df["math_score"] >= 70) & (
        school_df["reading_score"] >= 70), :]
overall_school_pass_filter = school_overall_pass.groupby(['school_name'])
school_percent_overall = overall_school_pass_filter["math_score"].count()

group_school_summary_df = school_df.groupby(["school_name", "type"])
summary_df = group_school_summary_df.mean() 
summary_df["Per Student Budget"] = summary_df["budget"] / summary_df["size"]
summary_df["% Passing Math"] = (school_percent_math / summary_df["size"])*100
summary_df["% Passing reading"] = (school_percent_reading / summary_df["size"])*100
summary_df["% Overall Passing"] = (school_percent_overall / summary_df["size"])*100
school_summary_df = summary_df.rename(columns = {"school_name": "School Name", "type": "School Type", "size": "Total Students", "budget": "Total School Budget", "math_score": "Average Math Score", "reading_score":"Average Reading Score", "Per Student Budget": "Per Student Budget", "% Passing Math": "% Passing Math", "% Passing Reading": "% Passing Reading", "% Overall Passing": "% Overall Passing"})

# school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].astype(float).map("${:,.2f}".format)
# school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].astype(float).map("${:,.2f}".format)
# school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].astype(float).map("{:,.2f}".format)
# school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].astype(float).map("{:,.2f}".format)
# school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].astype(float).map("{:,.2f} %".format)
# school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].astype(float).map("{:,.2f} %".format)
# school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].astype(float).map("{:,.2f} %".format)
# school_summary_df = school_summary_df.reset_index()
school_summary_df
# summary_df

,,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Passing reading,% Overall Passing
school_name,type,,,,,,,,
Bailey High School,District,4976.0,3124928.0,77.048432,81.033963,628.0,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
Ford High School,District,2739.0,1763916.0,77.102592,80.746258,644.0,68.309602,79.299014,54.289887
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
Holden High School,Charter,427.0,248087.0,83.803279,83.814988,581.0,92.505855,96.252927,89.227166
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,650.0,66.057551,81.222432,53.539172
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,609.0,94.594595,95.945946,90.540541
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,1056600.0,83.359455,83.725724,600.0,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,1049400.0,83.682222,83.955000,583.0,93.333333,96.611111,90.333333

In [130]:
top_performing_schools = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_performing_schools.head()

,,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Passing reading,% Overall Passing
school_name,type,,,,,,,,
Cabrera High School,Charter,1858.0,1081356.0,83.061895,83.975780,582.0,94.133477,97.039828,91.334769
Thomas High School,Charter,1635.0,1043130.0,83.418349,83.848930,638.0,93.272171,97.308869,90.948012
Griffin High School,Charter,1468.0,917500.0,83.351499,83.816757,625.0,93.392371,97.138965,90.599455
Wilson High School,Charter,2283.0,1319574.0,83.274201,83.989488,578.0,93.867718,96.539641,90.582567
Pena High School,Charter,962.0,585858.0,83.839917,84.044699,609.0,94.594595,95.945946,90.540541

In [131]:
bottom_performing_schools = school_summary_df.sort_values("% Overall Passing")
bottom_performing_schools.head()

,,Total Students,Total School Budget,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Passing reading,% Overall Passing
school_name,type,,,,,,,,
Rodriguez High School,District,3999.0,2547363.0,76.842711,80.744686,637.0,66.366592,80.220055,52.988247
Figueroa High School,District,2949.0,1884411.0,76.711767,81.158020,639.0,65.988471,80.739234,53.204476
Huang High School,District,2917.0,1910635.0,76.629414,81.182722,655.0,65.683922,81.316421,53.513884
Hernandez High School,District,4635.0,3022020.0,77.289752,80.934412,652.0,66.752967,80.862999,53.527508
Johnson High School,District,4761.0,3094650.0,77.072464,80.966394,650.0,66.057551,81.222432,53.539172

In [132]:
columns = ["school_name", "grade", "math_score"]
ninth_grade_math_score = school_data_complete.loc[school_data_complete["grade"] == "9th", columns]
ninth_grade_filter = ninth_grade_math_score.groupby(["school_name"])
ninth_grade_series = ninth_grade_filter.mean()

columns = ["school_name", "grade", "math_score"]
tenth_grade_math_score = school_data_complete.loc[school_data_complete["grade"] == "10th", columns]
tenth_grade_filter = tenth_grade_math_score.groupby(["school_name"])
tenth_grade_series = tenth_grade_filter.mean()

columns = ["school_name", "grade", "math_score"]
eleventh_grade_math_score = school_data_complete.loc[school_data_complete["grade"] == "11th", columns]
eleventh_grade_filter = eleventh_grade_math_score.groupby(["school_name"])
eleventh_grade_series = eleventh_grade_filter.mean()

columns = ["school_name", "grade", "math_score"]
twelfth_grade_math_score = school_data_complete.loc[school_data_complete["grade"] == "12th", columns]
twelfth_grade_filter = twelfth_grade_math_score.groupby(["school_name"])
twelfth_grade_series = twelfth_grade_filter.mean()

first_df = pd.merge(ninth_grade_series, tenth_grade_series, how = "left", on = ["school_name"])
second_df = pd.merge(eleventh_grade_series, twelfth_grade_series, how = "left", on = ["school_name"])
combined_df = pd.merge(first_df, second_df, how = "left", on = ["school_name"])
combined_df = combined_df.rename(columns = {"math_score_x_x": "9th", "math_score_y_x": "10th", "math_score_x_y": "11th", "math_score_y_y": "12th"})

combined_df["9th"] = combined_df["9th"].astype(float).map("{:,.2f}".format)
combined_df["10th"] = combined_df["10th"].astype(float).map("{:,.2f}".format)
combined_df["11th"] = combined_df["11th"].astype(float).map("{:,.2f}".format)
combined_df["12th"] = combined_df["12th"].astype(float).map("{:,.2f}".format)
combined_df

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [133]:
columns = ["school_name", "grade", "reading_score"]
ninth_grade_reading_score = school_data_complete.loc[school_data_complete["grade"] == "9th", columns]
ninth_grade_filter = ninth_grade_reading_score.groupby(["school_name"])
ninth_grade_series = ninth_grade_filter.mean()

columns = ["school_name", "grade", "reading_score"]
tenth_grade_reading_score = school_data_complete.loc[school_data_complete["grade"] == "10th", columns]
tenth_grade_filter = tenth_grade_reading_score.groupby(["school_name"])
tenth_grade_series = tenth_grade_filter.mean()

columns = ["school_name", "grade", "reading_score"]
eleventh_grade_reading_score = school_data_complete.loc[school_data_complete["grade"] == "11th", columns]
eleventh_grade_filter = eleventh_grade_reading_score.groupby(["school_name"])
eleventh_grade_series = eleventh_grade_filter.mean()

columns = ["school_name", "grade", "reading_score"]
twelfth_grade_reading_score = school_data_complete.loc[school_data_complete["grade"] == "12th", columns]
twelfth_grade_filter = twelfth_grade_reading_score.groupby(["school_name"])
twelfth_grade_series = twelfth_grade_filter.mean()

first_df = pd.merge(ninth_grade_series, tenth_grade_series, how = "left", on = ["school_name"])
second_df = pd.merge(eleventh_grade_series, twelfth_grade_series, how = "left", on = ["school_name"])
combined_df = pd.merge(first_df, second_df, how = "left", on = ["school_name"])
combined_df = combined_df.rename(columns = {"reading_score_x_x": "9th", "reading_score_y_x": "10th", "reading_score_x_y": "11th", "reading_score_y_y": "12th"})

combined_df["9th"] = combined_df["9th"].astype(float).map("{:,.2f}".format)
combined_df["10th"] = combined_df["10th"].astype(float).map("{:,.2f}".format)
combined_df["11th"] = combined_df["11th"].astype(float).map("{:,.2f}".format)
combined_df["12th"] = combined_df["12th"].astype(float).map("{:,.2f}".format)
combined_df

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [189]:
# school_summary_df = school_summary_df.reset_index()
school_bin_df = school_summary_df[['Average Math Score', 'Average Reading Score', 'Per Student Budget', '% Passing Math', '% Overall Passing']]
bins = [0, 584, 629, 644, 675]
group_labels = ["<584", "585-629", "630-644", "645-675"]
pd.cut(school_bin_df["Per Student Budget"], bins, labels=group_labels).head()
school_bin_df["Spending Ranges (Per Student)"] = pd.cut(school_bin_df["Per Student Budget"], bins, labels=group_labels)
school_group_df = school_bin_df.groupby("Spending Ranges (Per Student)")
school_group_df[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Overall Passing']].mean()
school_bin = school_group_df.mean()
# school_group
# school_summary_df
school_bin

,Average Math Score,Average Reading Score,Per Student Budget,% Passing Math,% Overall Passing
Spending Ranges (Per Student),,,,,
<584,83.455399,83.933814,581.000000,93.460096,90.369459
585-629,81.899826,83.155286,615.500000,87.133538,81.418596
630-644,78.518855,81.624473,639.500000,73.484209,62.857656
645-675,76.997210,81.027843,652.333333,66.164813,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [185]:
school_spending_df = school_summary_df[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Overall Passing', 'Total Students']]
bins = [0, 1000, 2000, 5000]
group_labels = ["<1000", "1000-2000", "2000-5000"]
pd.cut(school_spending_df["Total Students"], bins, labels=group_labels)
school_spending_df["School Size"] = pd.cut(school_spending_df["Total Students"], bins, labels=group_labels)
school_group = school_spending_df.groupby("School Size")
school_group[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Overall Passing']].mean()
school_bin_df = school_group.mean()
school_bin_df

,Average Math Score,Average Reading Score,% Passing Math,% Overall Passing,Total Students
School Size,,,,,
<1000,83.821598,83.929843,93.550225,89.883853,694.500
1000-2000,83.374684,83.864438,93.599695,90.621535,1704.400
2000-5000,77.746417,81.344493,69.963361,58.286003,3657.375

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
ss = school_summary_df.iloc[:, ['Total Students', '% Passing Reading', '% Overall Passing']]
ss = ss.values
ss
# school_summary_df